In [ ]:
!pip install yfinance

In [ ]:
!pip install pandas_ta

In [ ]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

import pandas_ta as ta

plt.style.use("seaborn")
plt.rcParams["figure.figsize"] = [14, 8]

In [ ]:
df = yf.download("HDFCBANK.NS", start="2021-01-01", end="2021-12-31")

df["Adj Close"].plot(title="HDFC's stock in 2021");

In [ ]:
CustomStrategy = ta.Strategy(
    name="Momo and Volatility",
    description="SMA 50,200, BBANDS, RSI, MACD and Volume SMA 20",
    ta=[
        {"kind": "sma", "length": 30},
        {"kind": "sma", "length": 70},
        {"kind": "bbands", "length": 20},
        {"kind": "rsi"},
        {"kind": "macd", "fast": 8, "slow": 21},
        {"kind": "stoch"}
    ]
)
# To run your "Custom Strategy"
df.ta.strategy(CustomStrategy)

In [ ]:
df.head(200)

,Open,High,Low,Close,Adj Close,Volume,SMA_30,SMA_70,BBL_20_2.0,BBM_20_2.0,BBU_20_2.0,BBB_20_2.0,BBP_20_2.0,RSI_14,MACD_8_21_9,MACDh_8_21_9,MACDs_8_21_9,STOCHk_14_3_3,STOCHd_14_3_3
Date,,,,,,,,,,,,,,,,,,,
2021-01-01,1440.000000,1443.000000,1420.599976,1425.050049,1402.600952,4405469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-04,1438.000000,1438.000000,1399.000000,1416.000000,1393.693481,7870096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-05,1419.199951,1430.750000,1409.000000,1426.699951,1404.224854,7193412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-06,1435.000000,1440.000000,1413.099976,1420.550049,1398.171753,11067025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-07,1432.500000,1432.599976,1412.550049,1416.250000,1393.939453,9947421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-18,1705.000000,1725.000000,1667.050049,1670.300049,1651.102661,14428228,1591.581669,1539.306428,1531.890566,1604.922498,1677.954429,9.100992,0.947596,66.921590,30.505174,8.917783,21.587391,84.427387,87.863392
2021-10-19,1675.449951,1692.449951,1671.000000,1688.699951,1669.291016,4493770,1595.336666,1541.437856,1532.847064,1611.364996,1689.882929,9.745518,0.992467,69.671047,33.895987,9.846877,24.049110,80.317282,85.200629
2021-10-20,1689.099976,1698.750000,1664.449951,1673.849976,1654.611816,5454284,1598.941667,1543.629285,1539.413123,1617.459998,1695.506872,9.650548,0.861257,64.976905,33.658767,7.687726,25.971041,70.339066,78.361245
2021-10-21,1671.800049,1681.949951,1660.849976,1676.300049,1657.033691,4869095,1602.510002,1546.119285,1552.636907,1624.590002,1696.543098,8.858001,0.859332,65.391218,33.132788,5.729397,27.403391,71.591023,74.082457
2021-10-22,1680.099976,1708.000000,1670.750000,1680.750000,1661.432495,6087777,1605.988334,1548.887143,1558.787698,1630.127502,1701.467307,8.752666,0.854798,66.173902,32.675871,4.217984,28.457887,69.249401,70.393163

In [ ]:
plt.plot(df['SMA_50'], label='SMA', color='green')
plt.plot(df['RSI_14'], label='RSI', color='red')
plt.plot(df['STOCHk_14_3_3'], label='STOCHASTIC', color='purple')
plt.plot(df['Open'], label='SHARE PRICE', color='black')

#add legend
plt.legend(title='Group')

#add axes labels and a title
plt.ylabel('SHARE PRICE', fontsize=14)
plt.xlabel('Time', fontsize=14)
plt.title('TA', fontsize=16)

#display plot
plt.show()

In [ ]:
plt.plot(df['RSI_14'], label='RSI', color='red')
plt.plot(df['STOCHk_14_3_3'], label='STOCHASTIC', color='purple')

#add legend
plt.legend(title='Group')

#add axes labels and a title
plt.ylabel('SHARE PRICE', fontsize=14)
plt.xlabel('Time', fontsize=14)
plt.title('TA', fontsize=16)

#display plot
plt.show()

In [ ]:
def buy_sell(data):
    signalBuy = []
    signalSell = []
    position = False 

    for i in range(len(data)):
        if data['SMA_30'][i] > data['SMA_70'][i]:
            if position == False :
                signalBuy.append(data['Adj Close'][i])
                signalSell.append(np.nan)
                position = True
            else:
                signalBuy.append(np.nan)
                signalSell.append(np.nan)
        elif data['SMA_30'][i] < data['SMA_70'][i]:
            if position == True:
                signalBuy.append(np.nan)
                signalSell.append(data['Adj Close'][i])
                position = False
            else:
                signalBuy.append(np.nan)
                signalSell.append(np.nan)
        else:
            signalBuy.append(np.nan)
            signalSell.append(np.nan)
    return pd.Series([signalBuy, signalSell])

In [ ]:
df['Buy_Signal_price'], df['Sell_Signal_price'] = buy_sell(df)

In [ ]:
bs=df['Buy_Signal_price']
ss=df['Sell_Signal_price']
b = bs[np.logical_not(np.isnan(bs))]
s = ss[np.logical_not(np.isnan(ss))]
print(b)
print(s)

Date
2021-06-17    1443.004150
2021-09-02    1570.737061
Name: Buy_Signal_price, dtype: float64
Date
2021-08-18    1495.610474
2021-12-01    1487.356445
Name: Sell_Signal_price, dtype: float64

In [ ]:
tp=0
fl=0
tot=len(s)+len(b)
for i in range(tot):
  t = int(i/2)
  if(fl==0):
    tp = tp + (-1*b[t])
    fl=1
  else:
    tp = tp + s[t]
    fl=0
print(tp)

-30.7742919921875

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf
import pandas_datareader.data as web
import pandas_ta as ta
import matplotlib.pyplot as plt
from datetime import date
plt.style.use('fivethirtyeight')
yf.pdr_override()

In [ ]:
stocksymbols = ['TATAMOTORS.NS']
startdate = date(2017,8,4)
end_date = date.today()
print(end_date)
def getMyPortfolio(stocks = stocksymbols ,start = startdate , end = end_date):
    data = web.get_data_yahoo(stocks , data_source='yahoo' , start = start ,end= end )
    return data

In [ ]:
data = getMyPortfolio(stocksymbols)

In [ ]:
data['SMA 30'] = ta.sma(data['Close'],30)
data['SMA 100'] = ta.sma(data['Close'],100)
#SMA BUY SELL
#Function for buy and sell signal

In [ ]:
data['Buy_Signal_price'], data['Sell_Signal_price'] = buy_sell(data)

In [ ]:
bs=data['Buy_Signal_price']
ss=data['Sell_Signal_price']
b = bs[np.logical_not(np.isnan(bs))]
s = ss[np.logical_not(np.isnan(ss))]
print(b)
print(s)

In [ ]:
tp=0
fl=0
tot=len(s)+len(b)
for i in range(tot):
  t = int(i/2)
  if(fl==0):
    tp = tp + (-1*b[t])
    fl=1
  else:
    tp = tp + s[t]
    fl=0
print(tp)

87.59999084472656